.mountain-control {
    -fx-padding: 5;/*
    -fx-background-color: rgb(12, 12, 12);
    -base-color: rgb(2, 138, 204);*/
}

.mountain-control .background-circle {
    -fx-fill: -base-color;
}

.mountain-control .display {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 24;
    -fx-fill: derive(-base-color, 95%);
}

.mountain-control .background-snow {
    -fx-fill: #f7f7d3;
    -fx-stroke: black;
    -fx-stroke-width: 3;
}
.mountain-control .background-bottom {
    -fx-fill: #559a49;
    -fx-stroke: black;
    -fx-stroke-width: 1.5;
}
.mountain-control .highest-label,
.mountain-control .lowest-label {
    -fx-padding: 5;
}

/* for testing
.mountain-control .whole-mountain{
    -fx-background-color: red;
}

.mountain-control .lowest-altitude-Box, .highest-altitude-Box{
    -fx-background-color: blue;
}
 */